<h1>Reservations</h1>
<%= link_to "New Reservation", "/reservations/new" %>

<% @reservations.each do |reservation| %>
   <p> <%= reservation.name %> <%= resevation.neighborhood %> <%= reservation.cuisine %> <%= reservation.availability %></p>

    <% end %>